---
import "../styles/styles.css";
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout image="https://astro.build/social/banner.jpg">
	<h1>Deer Tech Services</h1>
</Layout>
