<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Desarrollo Web y Servicios Tecnológicos | Deer Tech Services</title>
    <meta
      name="description"
      content="Desarrollo frontend y fullstack, pruebas automatizadas, migración de sistemas empresariales y consultoría en seguridad. Soluciones tecnológicas a tu medida."
    />
  </head>
  <body class="">
    
    <h1>Test</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil tempore
      quas provident maiores necessitatibus eum cum eaque in, vero tenetur
      mollitia, id delectus, voluptatum dolor. Eligendi quo dolores eius?
      Voluptatum!
    </p>
  </body>
</html>

<style>
  body {
    background-color: gray;
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>