---
let {
  title = "Desarrollo Web y Servicios Tecnológicos | Deer Tech Services",
  description = "Desarrollo frontend y fullstack, pruebas automatizadas, migración de sistemas empresariales y consultoría en seguridad. Soluciones tecnológicas a tu medida.",
  image = "",
  OGTitle = "",
  OGDescription = "",
  OGImage = "",
} = Astro.props;
---

<!-- title -->
<title>{title}</title>
<!-- preconect -->
<!-- scripts async-->
<!-- CSS includes @imports -->
<!-- scripts syncronous-->
<!-- scripts CSS-->
<!-- preload-->
<!-- scripts defer-->
<!-- prefetch / prerender-->

<meta name="description" content={description} />

<!-- Evrything else (SEO, meta tags, icons, OpenGraph, etc) -->
<meta
  name="keywords"
  content="Deer Tech Services,servicios IT, soluciones tecnológicas, consultoría IT, desarrollo de software, desarrollo de paginas web,desarrollo de sitios web, servicios web, servicios de tecnología, desarrollo web, desarrollo de aplicaciones web, desarrollo de sitios web,web development services, web development consulting, web development solutions, web development company, web development agency"
/>
<meta name="author" content="Deerhou" />
<!-- <meta name="application-name" content="DeerhouTechServices" /> -->
<!-- <meta name="robots" content="noimageindex" /> -->
<meta name="generator" content="Astro" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://deertechservices.netlify.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content={OGTitle ?? title} />
<meta property="og:description" content={OGDescription ?? description} />
<meta property="og:image" content={OGImage ?? image} />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="deertechservices.netlify.com" />
<meta property="twitter:url" content="https://deertechservices.netlify.com" />
<meta name="twitter:title" content={OGTitle ?? title} />
<meta name="twitter:description" content={OGDescription ?? description} />
<meta name="twitter:image" content={OGImage ?? image} />
<meta name="twitter:site" content="@DEERHOU" />
<meta name="twitter:creator" content="@DEERHOU" />
