<header class="bg-black/70 shadow-sm shadow-indigo-950/80">
  <div class=" mx-auto p-3 flex justify-between items-center">
    <div class="">
      <a href="#">
        <span class="sr-only">DeerTechServices</span>
        <img
          src="/imgs/logo.webp"
          alt="DeerTechServices logo"
          class="h-10 aspect-square rounded-full"
        />
      </a>
    </div>
    <nav>
      <ul class="flex space-x-6">
        <li>
          <a href="#servicios" class="hover:text-red-100">Servicios</a>
        </li>
        <li><a href="#about" class="hover:text-red-100">About</a></li>
        <li>
          <a href="#portafolio" class="hover:text-red-100">Portafolio</a>
        </li>
        <li>
          <a href="#contacto" class="hover:text-red-100">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Inicio -->
<!-- Servicios (una página por cada servicio principal) -->
  <!--* Consultoría IT -->
  <!--* Desarrollo de software -->
  <!--* Soporte técnico -->
  <!--* Seguridad informática -->
  <!--* (Añadir otros servicios específicos que ofrezcas) -->
<!-- Sobre Nosotros -->
<!-- Blog -->
<!-- Contacto -->