---
import AsideNav from "../components/Aside-Nav.astro";
import Head from "../components/Head.astro";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Head title={title} description={description} image={image}/>
	</head>
	<body class="bg-neutral-950 text-slate-200">
		<AsideNav />
		<slot />
	</body>
</html>

